*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#e0f7fa;
}

header{
background:#00838f;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#006064;
padding:15px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:20px;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.container{
width:650px;
margin:30px auto;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h2{
text-align:center;
color:#00838f;
margin-bottom:20px;
}

label{
font-weight:bold;
display:block;
margin-top:15px;
}

input,select{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:5px;
}

input[type=submit]{
margin-top:20px;
background:#00838f;
color:white;
border:none;
cursor:pointer;
font-size:16px;
}

input[type=submit]:hover{
background:#006064;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table,th,td{
border:1px solid #ccc;
}

th{
background:#00838f;
color:white;
}

th,td{
padding:10px;
text-align:center;
}

footer{
margin-top:30px;
background:#333;
color:white;
text-align:center;
padding:15px;
}