body{
font-family:Arial;
background:#dff5e1;
}

.container{
width:400px;
margin:50px auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

h2{
text-align:center;
color:green;
}

label{
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

input[type=submit]{
background:green;
color:white;
border:none;
cursor:pointer;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table,th,td{
border:1px solid black;
padding:10px;
text-align:center;
}

th{
background:green;
color:white;
}