body{
    font-family:Arial,sans-serif;
    background:#f2f2f2;
}

.container{
    width:500px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

h2{
    text-align:center;
    color:#0066cc;
}

label{
    font-weight:bold;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

input[type=submit]{
    background:#0066cc;
    color:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

input[type=submit]:hover{
    background:#004c99;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table,th,td{
    border:1px solid #ccc;
}

th{
    background:#0066cc;
    color:white;
}

th,td{
    padding:10px;
    text-align:center;
}